<!doctype html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- og properties -->
<meta property="og:url" content="https://skervim.github.io">
<meta property="og:title" content="Skervim">
<meta property="og:image" content="{{ '/static/img/skervim.jpg'|url }}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png">


<link rel="shortcut icon" href="{{ '/static/img/favicon.ico'|url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/normalize.css'|url }}">
<link rel="stylesheet" href="{{ '/static/main.css'|url }}">


<!-- Lichess widgets -->
<link rel="stylesheet" href="https://rubenwardy.com/lichess_widgets/lichess_widgets.css" />
<link rel="stylesheet" href="https://rubenwardy.com/lichess_widgets/light.css" />
<link rel="stylesheet" href="https://rubenwardy.com/lichess_widgets/dark.css" />
<script src="https://rubenwardy.com/lichess_widgets/lichess_widgets.js"></script>




<!-- Font -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


<title>{% block title %}Welcome{% endblock %} — SKERVIM</title>
</head>
<body>
  <header>
    <h1>SKERVIM</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>

    {% block footer %}
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 icon-bar">
          <a href="https://github.com/skervim/" title="Skervim on GitHub"
            ><i class="fa fa-github"></i></a>
          <a href="https://github.com/skervim/skervim.github.io/issues/" title="Report Issues for skervim"
            ><i class="fa fa-bug"></i></a>
          <a href="https://twitter.com/skervim" title="Find skervim on Twitter"
            ><i class="fa fa-twitter"></i></a>
        <a href="https://www.reddit.com/user/skervim" title='Find skervim at Reddit'
           ><i class="fa fa-reddit"></i></a>
          {%- if this.path %}
          <a href="https://github.com/skervim/skervim.github.io/tree/source/content{{ this.path.split('@')[0]
             }}/contents.lr" title="View source for this page"><i class="fa fa-code"></i></a>
          {%- endif %}
        </div>
      </div>
    </div>
    <script>lichess_widgets.profile_big("light", "skervim", "skervim at lichess");</script>
    </footer>
    {% endblock %}


<!-- js -->
<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->


<script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</body>
